@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-v20-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-v20-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-v20-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-v20-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

:root{
    --header-background: #E6F0FF;
    --nav-link-color: #4F5361;
    --sign-up-btn-color: #0F1B4C;
    --hc-text-color-3: #687690;
    --hc-text-color-1: #000336;
    --hc-text-color-2: #5A6473;
    --logo-color: #101010;
    --client-desc-color: #7D8589;
    --hiw-title-color: #000339;
    --how-to-arrow-text-color: #0689FF;
    --how-to-text-color: #3B3C45;
    --featured-bg-color: #F5FAFE;
    --featured-desc-color: #A3A6AB;
    --numbers-desc-card-color: #A7A7A7;
    --numbers-desc-line-color: #E9E9E9;
    --newsletter-bg-color:  #002366;
    --footer-copyright-color: #C2C2C2;
    

}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/********** SCROLL BAR START ************/

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
    background: var(--sign-up-btn-color);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

/********** SCROLL BAR END ************/

/*********** HEADER ************/

.x-icon, .bars-icon{
    display: none;
}

.header{
    height: 100vh;
    width: 100vw;
    background-color: var(--header-background);
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    // padding-top: 38px;
    padding-left: 165px;
    padding-right: 165px;
    align-items: center;
    height: 15vh;
    
}

.image-logo{
    height: 24px;
}

.nav-links-container{
    margin-left: 80px;
    margin-right: auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-link{
    // font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--nav-link-color);
    // font-weight: 600;
}

.nav-link::after{
    content: "";
    margin-top: 5px;
    height: 3px;
    width: 0%;
    background: var(--sign-up-btn-color);
    display: block;
    margin-left: auto;  /* sa margin auto se stavi da tranzicija ide od sredine pa prema krajevima, bez ovoga bi islo od pocetka (levo) do kraja (desno) */
    margin-right: auto;
    transition: 0.5s;
    border-radius: 100px;
}

.nav-link:hover{
    cursor: pointer;
}

.nav-link:hover::after{
    width: 100%;
}

.nav-buttons-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-sign-up-btn, .nav-register-btn{
    font-size: 14px;
}

.nav-register-btn{
    cursor: pointer;
}

.nav-sign-up-btn{
    cursor: pointer;
    font-weight: 500;
}

.nav-sign-up-btn{
    color: var(--sign-up-btn-color);
}

.nav-register-btn{
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    background-color: var(--sign-up-btn-color);
    color: white;
}

.header-content-container{
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header-content-text-container{
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 165px;
}
.header-content-image-container{
    flex: 50%;
    // height: 619px;
}

.image-header{
    // height: 619px;
    height: 100%;
}

.hc-text-welcome{
    font-size: 18px;
    font-weight: 500;
    color: var(--hc-text-color-3);
    letter-spacing: 1px;
}

.hc-text-title{
    color:#000336;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    margin-top: 18px;
    margin-bottom: 24px;
}

.hc-text-description{
    color: var(--hc-text-color-2);
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 24px;
}

.hc-button{
    padding: 14px 22px;
    background-color: var(--sign-up-btn-color);
    color: white;
    width: 170px;
    border-radius: 8px;
}

/******* mobile screen size header *********/

@media(max-width: 1200px){
    .x-icon, .bars-icon{
        display: block;
        font-size: 32px;
    }
    .nav-links-container, .nav-buttons-container{
        display: block;
    }
    .header-content-container{
        flex-direction: column;
        // margin-top: 45vh;
    }
    .header-content-image-container{
        display: none;
    }
    .header-content-text-container{
        padding-left: 0;
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .hc-text-title{
        font-size: 30px;
        line-height: 38px;
    }
    .hc-button{
        margin-left: auto;
        margin-right: auto;
    }
    .nav-links-container{
        position: fixed;
        background-color: var(--sign-up-btn-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        // text-align: left;
        z-index: 50;
        transition: 1s;
        text-align: center;
    }
    .nav-buttons-container{
       display: none;

    }

    .navbar{
        padding: 0;
        justify-content: space-around;
    }
    .x-icon{
        fill: white; // ide fill za svg izgleda 
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .nav-link{
        color: white;
        margin-top: 26px;
        margin-bottom: 26px;
        font-size: 22px;
    }
    .nav-buttons-container{
        margin-top: 80px;
    }
    .nav-sign-up-btn{
        color: rgb(187, 191, 255);
        margin-bottom: 12px;
    }
    .nav-register-btn{
        background-color: rgb(5, 117, 169);
    }
}


/** Client section **/

.client-main-container{
    padding: 100px 165px;
}

.client-content-container{
    display: flex;
    justify-content: space-between;
}

.image-logo-client{
    height: 24px;
}

.client-description-text, .client-review-description{
    margin-top: 12px;
    font-size: 16px;
    color: var(--client-desc-color);
}

// .client-title-text{
//     font-size: 24px;
//     color: var(--logo-color);
//     font-weight: 600;
// }

.client-logos-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 1200px){
    .client-content-container{
        flex-direction: column;
        text-align: center;
    }
    .client-logos-container{
        flex-direction: column;
        margin-top: 60px;
        gap: 30px;
    }
    .client-main-container{
        // margin-top: 45vh;
        padding: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    
}

/***************** HOW IT WORKS ********************/
.how-it-works-main-container{
    padding: 100px 165px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-align: center;
}



.how-it-works-text-container{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

.how-it-works-title{
    color: var(--hiw-title-color);
    font-size: 35px;
    line-height: 35px;
}

.how-it-works-title::before{
    content: "";
    display: block;
    height: 4px;
    background-color: var(--hiw-title-color);
    width: 41px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.how-it-works-description{
    margin-top: 30px;
    color: var(--hc-text-color-2);
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.how-it-works-seller-type-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.how-it-works-icon-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--how-to-text-color);
}

.how-to-container{
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.how-to-arrow-text{
    color: var(--how-to-arrow-text-color);
    font-weight: 600;
}

.btn-how-it-sell{
    padding: 14px 22px;
    color: white;
    background-color: var(--sign-up-btn-color);
    width: 200px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

}

@media(max-width: 900px){
    .how-it-works-seller-type-container{
        flex-direction: column;
        gap: 60px;
        margin-top: 60px;
    }
    .how-it-works-description{
        width: auto;
    }
    .how-it-works-main-container{
        padding: 0;
        width: 80%;
        margin: auto;
    }
    .how-to-container{
        justify-content: center;
    }
    
    .how-it-works-text-container{
        margin-top: 60px;
    }
}


/*********** FEATURED **************/

.featured-main-container{
    padding: 100px 165px;
    background-color: var(--featured-bg-color);
}

.featured-text-container{
    margin-top: 8px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.featured-arrow-container{
    display: flex;
    gap: 10px;
}

.featured-title{
    font-size: 35px;
    font-weight: 600;
    color: var(--hiw-title-color);
}

.featured-description{
    color: var(--hc-text-color-2);
    font-size: 16px;
}
.featured-arrow-text{
    color: var(--how-to-arrow-text-color);
}

.featured-cards-container{
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    
}
.image-featured-card{
    // width: 360px;
    width: 100%;
    height: 100%;
}

.featured-card-image-container{
    width: 360px;
    height: 227px;
}

.featured-card-sub-container{
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.featured-card-sub-container{
    padding: 16px;
}

.featured-card-price-text{
    font-size: 20px;
    font-weight: 600;
    color: var(--hiw-title-color)
}

.featured-card-street-text{
    font-size: 14px;
    color: var(--featured-desc-color);
}

.featured-card-info-container{
    display: flex;
    // justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.featured-card-info-box-text{
    font-weight: 500;
}

.featured-card-info-box{
    display: flex;
    margin-right: 12px;
    gap: 8px;
}

.featured-card-info-box-logo{
    display: flex;
    text-align: center;
    margin: auto; /* bez ovog bude razvuceno malo zbog flex */

}

@media(max-width: 900px){
    
}

@media(max-width: 1400px){
    .featured-cards-container{
        // justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px
    }
    .featured-main-container{
        padding: 0;
        padding-top: 60px;
        margin-top: 60px;
        // width: 80%;
        
    }
    .featured-title{
        width: 80%;
        margin: auto;
        font-size: 24px;
        text-align: center;
    }
    .featured-text-container{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .featured-text-container{
        flex-direction: column;
        text-align: center;
    }
    .featured-arrow-container{
        justify-content: center;
    }
    .featured-cards-container{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .featured-card-image-container{
        width: auto;
        height: auto;
    }
    .featured-description{
        margin-bottom: 20px;
    }
}

/************** NUMBERS ***************/

.numbers-main-container{
    padding-top: 40px; /* smanjujem malo jer je slika sa pozadinom belom pa je sve poremeceno malo */
    padding-left: 185px;
    padding-right: 185px;
    position: relative;
}

.numbers-box-container.right-box{
    width: 309px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 160px; /* ovako da bolje centriram, mada ne treba tako jer je poremeceno sve zbog slike koja ima belu pozadinu */
}

.numbers-boxes-container{
    display: flex;
    justify-content: center;
}

.numbers-image-container{
    // height: 460px;
    // width: 400px;
    // height: 800px;
    width: 700px;
}

.image-numbers{
    height: 100%;
    width: 100%;
}

.numbers-positioned-card-container{
    position: absolute;
    top: 74px; /* ovako pogodim da bude u liniji, mada poremeceno jer je slika sa belom pozadinom */ 
    left: 0;
    background-color: white;
    width: 240px;
    border-radius: 0 0 12px 12px;
    padding-top: 30px;
   
    padding-left: 16px;
    padding-right: 16px;

}

.numbers-box-container{
    position: relative;
}

.image-users{
    width: 200px;
}

.numbers-card-description{
    font-size: 12px;
}

.numbers-card-title-and-arrow-zig-zag-container{
    display: flex;
    justify-content: space-between;
}
.numbers-card-title-text{
    font-size: 26px;
    color: var(--hiw-title-color);
    font-weight: 600;
}
.numbers-card-description{
    color: var(--numbers-desc-card-color);
}

.numbers-card-description::after{
   content: "";
   height: 1.2px;
   display: block;
   width: 100%;
   background-color: var(--numbers-desc-line-color);
   margin-top: 10px;
   margin-bottom: 6px;
}

.numbers-card-title-text, .numbers-card-description{
    margin-left: 12px;
    
}

.numbers-title-right::before{
    content: "";
    display: block;
    height: 4px;
    width: 41px;
    margin-bottom: 8px;
    background-color: var(--hiw-title-color);
}

.numbers-title-right{
    font-size: 35px;
    font-weight: 600;
    color: var(--hiw-title-color);
    margin-bottom: 12px;
}

.numbers-description-right{
    color: var(--hc-text-color-2);
    font-size: 16px;
}

.numbers-countdown-container{
    display: flex;
    // justify-content: space-around;
    position: absolute;
    /* Da ih centriram, mada ovo je los nacin, sve zbog toga sto je slika sa belom pozadinom, zapetljalo se sve dosta */
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -40px;
}

.numbers-countdown-number{
    font-size: 64px;
    color: black;
    font-weight: 600
}

.numbers-countdown-description{
    font-size: 18px;
    color: var(--client-desc-color);
}

.numbers-countdown-box-container{
    margin-left: 90px;
    margin-right: 90px;
}


@media(max-width: 1200px){
    .numbers-boxes-container{
        flex-direction: column;
    }
    .numbers-countdown-container{
        flex-direction: column;
        position: relative;
        margin-top: 30px;
    }
    .numbers-main-container{
        padding-left: 0;
        padding-right: 0;
    }
    .numbers-image-container{
        width: auto;
    }
    .numbers-positioned-card-container{
        position: relative;
        margin: auto;
    }
    .numbers-box-container.right-box{
        width: 80%;
        margin: auto;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    .numbers-title-right{
        font-size: 22px;
        text-align: center;
    }
    .numbers-title-right::before{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .numbers-description-right{
        text-align: center;
    }
    .numbers-countdown-box-container{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .numbers-countdown-number, .numbers-countdown-description{
        text-align: center;
        
    }
    .numbers-countdown-number{
        font-size: 34px;
    }
    
    
}

/************** NEWSETTLER ****************/

.newsletter-main-container{
    margin-top: 80px;
    margin-bottom: 80px;
}

.newsletter-text-container{
    margin-left: 165px;
    margin-right: 165px;
    border-radius: 20px;
    background-color: var(--newsletter-bg-color);
    position: relative;;
}

.newsletter-title{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.newsletter-description{
    font-size: 16px;
    font-weight: 400;
    color: var(--featured-desc-color);
}

.newsletter-title {
    margin-bottom: 22px;
    
}

.newsletter-description{
    margin-bottom: 30px;
}

.newsletter-button{
    // padding: 14px 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: var(--sign-up-btn-color);
    width: 200px;
    border-radius: 8px;
    font-weight: 600;
}

.newsletter-sub-text-container{
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 100px;
}

.newsletter-image-container{
    position: absolute;
    bottom: -8px; /* mora ovako da bi bilo od pocetka container-a, kad je 0 ne krece od pocetka iz nekog razloga */
    right: 0px;
    // height: 440px;
}

.newsletter-image{
    height: 440px;
}

@media(max-width: 1200px){
    .newsletter-image-container{
        display: none;
    }
    .newsletter-text-container{
        width: 80%;
        margin: auto;
        text-align: center;

    }
    .newsletter-main-container{
        margin-top: 0;
        
    }
    .newsletter-sub-text-container{
        padding-left: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .newsletter-button{
        margin: auto;
    }
    .newsletter-description{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/************ FOOTER **************/

.footer-main-container{
    padding-left: 165px;
    padding-right: 165px;
}

.footer-first-row-main-container{
    display: flex;
    // margin-left: 165px;
    // margin-right: 165px;
}

.footer-first-row-container{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

.footer-list-item-text.desc{
    width: 260px;
    white-space: wrap;
    margin-top: 4px;
}

.footer-list-title{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato';
    color: var(--logo-color)
}

.footer-list-item-text{
    font-size: 16px;
    color: var(--client-desc-color);
    margin-bottom: 18px;
    white-space: nowrap; /* da ne prelazi u drugi red */
}

.footer-list-item-container{
    margin-top: 32px;
}

.footer-social-container{
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.footer-second-row-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-logo-img{
    height: 24px;
}

.footer-copyright-text{
    font-size: 14px;
    color: var(--footer-copyright-color);
}

@media(max-width: 1200px){
    .footer-first-row-main-container{
        flex-direction: column;
    }
    .footer-second-row-container{
        flex-direction: column;
    }

    .footer-main-container{
        padding: 0;
    }
    .footer-first-row-container{
        margin-right: 0;
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 12px;
    }
    .footer-list-item-text.desc{
        width: 80%;
        margin: auto;
        
    }
    .footer-social-container{
        justify-content: center;
    }
    .footer-second-row-container{
        text-align: center;
    }
    .footer-logo-container{
        margin-bottom: 16px;
    }
}